<!DOCTYPE html>
<html>
  <head>
    <style type="text/css">
      html, body { height: 100%; margin: 0; padding: 0; }
      #map { height: 100%; }
        #cover {
        background: url("https://d13yacurqjgara.cloudfront.net/users/75784/screenshots/939706/animation.gif") no-repeat scroll center center #FFF;
            position: absolute;
            height: 100%;
            width: 100%;
        }
    </style>
  </head>
  <body>
    <div id="cover"></div>

    <div id="map"></div>

    {% for result in results %}
        {% if result.lat %}
            <span class="matches" data-matches="{{ result.matches }}" data-id="{{ result.status.id }}" data-status-text="{{ result.status.text }}" data-place-lat="{{ result.lat}}" data-place-lng="{{ result.lng }}" data-place-name="{{ result.place_name }}"></span>
        {% endif %}
    {% endfor %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDQp6VAqlvOFqSb6IWgXRsxEBW5E3S437w">
    </script>

    <script type="text/javascript">
        $(window).load(function(){
            $('#cover').fadeOut(1000);
        });
        $(document).ready(function(){
            var map;
            function initMap() {
              map = new google.maps.Map(document.getElementById('map'), {
                center: new google.maps.LatLng(0, 0),
                zoom: 1
              });

              $.each($('.matches'), function( index, value ) {
                  lat = $(value).data('place-lat');
                  lng = $(value).data('place-lng');
                  text = $(value).data('status-text');
                  matches = $(value).data('matches');
                  id = $(value).data('id');

                  var infowindow = new google.maps.InfoWindow({
                    content: 'Id:' +id+' Mensaje: '+text
                  });

                  var marker = new google.maps.Marker({
                    position: {lat: lat, lng: lng},
                    map: map,
                    title: matches
                  });

                  marker.addListener('click', function() {
                    map.setZoom(8);
                    map.setCenter(marker.getPosition());
                    infowindow.open(map, marker);
                  })
              })
            };

            initMap();
        });
    </script>
  </body>
</html>